<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.keiwando.lib_nativefileso">

    <application>
        <activity android:name="com.keiwando.lib_nativefileso.NativeFileOpenActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <provider
                android:name="com.keiwando.lib_nativefileso.androidx.core.content.FileProvider"
                android:authorities="com.keiwando.nativefileso.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>
    </application>
</manifest>

<!-- android:authorities="${applicationId}.provider" -->

        <!--<data android:scheme="http" android:host="*"
                              android:pathPattern=".*\\.evol" />
                        <data android:scheme="https" android:host="*"
                              android:pathPattern=".*\\.evol" />
                        <data android:scheme="content" android:host="*"
                              android:pathPattern=".*\\.evol" />
                        <data android:scheme="file" android:host="*"
                              android:pathPattern=".*\\.evol" />-->