<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-09-19T09:03:56Z</date>
	<key>WorkspacePath</key>
	<string>../../UnityNativeFileImportExport.xcodeproj</string>
</dict>
</plist>
